## build directory
build/

## Testing files
.coverage
*.g3

## Local config files.
local.cmake

## Common backup / temporary files.
*~

## python & doc stuff
**/__pycache__
docs/_build

## github's default C++ stuff.

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Pycharm
.idea

#ipython
.ipynb_checkpoints

# vim
*.swp

# vscode
.vscode
